.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  font-family: inherit;
}

.category-title {
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
}
